body {
    font-family: Roboto, 'Times New Roman', Times, serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    flex: 1;
}

.header, .footer, .hero {
    background-color: #1F2937;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
}

.hero {
    
}

.content {
    flex-grow: 1;
}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: white;
}

li a {
    color: gray;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}